@import "../../../styles/global.scss";

.fourSectionWrap {
  @include wrapper;
  border-top: solid 1px;
  border-color: $second-background-color;
  padding: 0px;
}

.circleMobile{
   display: none;
}

.fourSectionBlocks {
  padding: 5rem 0;
}

.fourSectionHeader {
  max-width: 48rem;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.h2FourSection {
  margin: 0;
  padding-bottom: 1rem;
  line-height: 1.18;
  letter-spacing: -0.02em;
}

.pFourSection{
  margin: 0;
}

.numbersBlock{
  display: flex;
  justify-content: space-between;
  max-width: 50rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgba(49, 151, 149, 0.25);
  border-radius: 9999px;
  width: 3rem;
  height: 3rem;
  color: $hover-btn-color;
  flex-shrink: 0;
}

.line {
  display: flex;
  border-top: dashed 1px;
  width: 288px;
  align-self: center;
  border-color: rgba(49, 151, 149, 25%);
  margin: 0 1rem;
}

.fourSectionMain{
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  background-image: url(../../../../public/img/background-rays3.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.mobileImg{
  position: relative;
  width: 100%;
  height: 100%;
}

.mobileBlock {
  display: flex;
  background-size: 84.33%;
  background-position: center;
  background-repeat: no-repeat;
}

.imgFirst {
  background-image: url(../../../../public/img/mockup-image-02.jpg);
}

.imgSecond{
  background-image: url(../../../../public/img/mockup-image-03.jpg);
}

.imgThird{
  background-image: url(../../../../public/img/mockup-image-04.jpg);
}


@media screen and (max-width: 1024px) {
  .fourSectionMain{
    gap: 24px;
  }

}

@media screen and (max-width: 768px) {
  .h2FourSection{
    font-size: $font-size-media;
  }

  .fourSectionBlocks {
    padding: 48px 0px;
  }

  .fourSectionHeader {
    padding-bottom: 0px;
  }

  .line {
    display: none;
  }

  .fourSectionMain{
    max-width: 384px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 0;
  }

  .circle{
    display: none;
  }

  .circleMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(49, 151, 149, 0.25);
    border-radius: 9999px;
    width: 3rem;
    height: 3rem;
    color: rgb(79, 209, 197);
    flex-shrink: 0;

    margin: 48px 0px 32px 0px;
  }
  .numbersBlock {
    display: none;
  }
}