@import "../../../styles/global.scss";

.footer-wrap {
  max-width: $main-wight;
  justify-content: center;
  margin: 0 auto;
  color: rgb(244, 244, 245);
  font-size: 0.875rem;
  margin: 0 auto;
}

.svg-footer{
  position: absolute;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.footer-columns-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5rem;
  margin-left: 5rem;
  margin-bottom: 3rem;
}


.svg-social {
  width: 2rem;
  height: 2rem;
  fill: $btn-color;
  border-radius: 9999px;
  background-color: rgb(46, 46, 51);
}

.footer-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $secondary-font-color;
}

.ul-social-links{
  display: flex;
  list-style-type: none;
  margin-left: 1rem;
  gap: 1rem;
}

.h6-footer{
  margin: 0;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: inherit;
}

.column-footer{
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.li-column{
  margin-bottom: 0.25rem;
}

.footer-link{
  text-decoration: none;
  color: $secondary-font-color;
}

.cruip-com{
  margin-right: 1rem;
}