@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.footerWrap {
  @include wrapper;
  justify-content: center;
  color: $main-font-color;
  font-size: 0.875rem;
  padding-top: 0px;
  padding-bottom: 42px;
}

.svgFooter{
  position: absolute;
}

.mainFooter {
  display: flex;
  justify-content: space-between;
}

.footerColumnsWrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5rem;
  margin-left: 5rem;
  margin-bottom: 3rem;
}

.svgSocial {
  width: 2rem;
  height: 2rem;
  fill: $btn-color;
  border-radius: 9999px;
  background-color: $second-background-color;
  cursor: pointer;
}

.footerFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $secondary-font-color;
}

.ulSocialLinks{
  display: flex;
  list-style-type: none;
  margin-left: 1rem;
  gap: 1rem;
}

.h6Footer{
  margin: 0;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: inherit;
}

.columnFooter{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.liColumn{
  margin-bottom: 0.25rem;
}

.liColumn:hover, .footerLinkDown:hover{
  text-decoration: underline $secondary-font-color;
}

.footerLink{
  text-decoration: none;
  color: $secondary-font-color;
}

.cruipCom{
  margin-right: 1rem;
}

.logo {
  width: 32px;
  height: 32px;
  background-image: url(../../../../public/img/logo.svg);
  cursor: pointer;
  flex-shrink: 0;
}

html[dark-theme="false"] {
  .h6Footer{
    color: $main-font-color-light;
    font-weight: 500;
  }
  .footerLink, .footerFooter{
    color: $secondary-font-color-light;
  }
}


@media screen and (max-width: $mobile-media) {
  .mainFooter {
    flex-direction: column;
  }

  .footerColumnsWrap {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 32px 0px;
  }

  .footerFooter {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
  }

  .ulSocialLinks {
    padding-left: 0px;
    margin-left: 0px;
  }

  .cruipCom{
    margin-top: 8px;
  }
}

