@import "../../../styles/global.scss";

.third-section-wrap{
  max-width: $main-wight;
  justify-content: center;
  margin: 0 auto;
  padding: 5rem 0;
}

.text-block {
  max-width: 48rem;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.h2-third-section {
  margin: 0 0 1rem 0;
  line-height: 1.18;
  letter-spacing: -0.02em;
}

.p-third-section {
  margin: 0px;
}

.svg-third-section{
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  color: $main-font-color;
  fill: currentColor;
}

.video-img {
  width: 352px;
  height: 264px;
}

.left-block-btn {
  display: flex;
  padding: 0.75rem 0.75rem;
  border: none;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  background-color: rgb(46, 46, 51);
  color: $main-font-color;
}

.content-block-wrap {
  display: flex;
  justify-content: space-between;
}

.right-block-video{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.into-btn-span{
  font-weight: 500;
}

.left-block-sort {
  display: flex;
  flex-direction: column;
  padding-right: 5rem;
  width: 100%;
}

.video-block-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.content-video-block{
  position: absolute;
  display: flex;
  flex-direction: column;
  inset: 0px;
}

.start-video-img {
  width: 72px;
  height: 72px;
}

.start-video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.video-description{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem ;
  background-color: $main-background-color;
  opacity: 0.9;
}

.video-name {
  color: $secondary-font-color;
  text-decoration: none;
}

.vide-time{
  line-height: 1.5;
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  font-size: 0.75rem;
  border-radius: 9999px;
  background-color: rgba(49, 151, 149,0.25);
  color: rgb(79, 209, 197);
  align-self: center;
}

