@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.thirdSection{
  border-top: 1px solid $second-background-color;
}

.thirdSectionWrap{
  @include wrapper;
  justify-content: center;
}

.textBlock {
  max-width: 48rem;
  text-align: center;
  margin: 0 auto;
  padding: 0 24px;
  padding-bottom: 4rem;

}

.h2ThirdSection {
  margin: 0 0 1rem 0;
  line-height: 1.18;
  letter-spacing: -0.02em;
}

.pThirdSection {
  margin: 0px;
}

.svgThirdSection{
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  color: $main-font-color;
  fill: currentColor;
}

.videoImg {
  max-width: 100%;
  height: auto;
}

.leftBlockBtn {
  display: flex;
  padding: 10px 12px;
  border: none;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  background-color: $second-background-color;
  color: $main-font-color;
}

.leftBlockBtn:hover {
  background-color: rgb(64,63,69);
  transition-duration: .15s;
  cursor: pointer;
}

.btnOnClick {
  background-color: rgb(34,60,62);
  color: $hover-btn-color;
}

.btnOnClick:hover {
  background-color: rgb(46, 101, 105);
}

.contentBlockWrap {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 24px;
}

.rightBlockVideo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.intoBtnSpan{
  font-weight: 500;
}

.leftBlockSort {
  display: flex;
  flex-direction: column;
  padding-right: 64px;
}

.videoBlockWrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoBlock{
  display: flex;
}

.contentVideoBlock{
  position: absolute;
  display: flex;
  flex-direction: column;
  inset: 0px;
}

.startVideoImg {
  width: 72px;
  height: 72px;
}

.startVideoImg:hover {
  opacity: 0.72;
  transition-duration: .15s;
}

.startVideo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.videoDescription{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem ;
  background-color: $main-background-color;
  opacity: 0.9;
}

.videoName {
  color: $secondary-font-color;
  text-decoration: none;
}

.videTime{
  line-height: 1.5;
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  font-size: 0.75rem;
  border-radius: 9999px;
  background-color: rgba(49, 151, 149,0.25);
  color: $hover-btn-color;
  align-self: center;
}

html[dark-theme="false"] {
  .thirdSection{
    border: none;
    background: linear-gradient(180deg, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 55%);
  }

  .leftBlockBtn {
    background-color: $main-background-color-light;
    color: $secondary-font-color-light;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  }

  .leftBlockBtn:hover {
    background-color: $third-background-color-light;
  }

  .btnOnClick {
    background-color: $btn-color;
    color: $main-background-color-light;
  }

  .btnOnClick:hover {
    background-color: $btn-color;
    color: $main-background-color-light;
  }

  .videoDescription{
    background-color: $main-background-color-light;
  }

  .videoName {
    color: $main-font-color-light;
  }

  .videTime{
    background-color: $secondary-font-color-light;
    color: $main-background-color-light;
  }
}

@media screen and (max-width: $tablet-media) {
  .contentBlockWrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
  }

  .leftBlockSort {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 24px;
  }

  .leftBlockBtn {
    margin: 4px;
  }

  .rightBlockVideo{
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (max-width: $mobile-media) {
  .h2ThirdSection{
     font-size: $font-size-media;
  }

  .rightBlockVideo{
    grid-template-columns: 1fr;
  }

  .rightBlockVideo{
    max-width: 384px;
  }

  .thirdSectionWrap{
    padding: 48px 0;
  }

  .textBlock {
    padding-bottom: 48px;
  }
}

html[mobile-mode='true'] {
  .contentBlockWrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
  }
  
  .leftBlockSort {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 24px;
  }

  .h2ThirdSection{
    font-size: $font-size-media;
  }
   
  .rightBlockVideo{
    grid-template-columns: 1fr;
    max-width: 384px;
    margin: 0 auto;
  }
  
  .thirdSectionWrap{
   padding: 48px 0;
  }
  
  .textBlock {
   padding-bottom: 48px;
  }

  .leftBlockBtn {
    margin: 4px;
  }
}

