@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.secondarySection{
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: $second-background-color;
  @include wrapper;
  padding: 0px;
}

.secondarySectionWrap {
  padding: 5rem 0;
}

.swiperWrap {
  display: flex;
  position: relative;
  gap: 24px;
  justify-content: center;
}

.swiperSectionWrap {
  position: relative;
}

.h2SecondarySection{
  padding-bottom: 1rem;
  margin: 0;
}

.pSecondarySection{
  margin: 0;
}

.swipe {
  position: relative;
}

.h2SecondarySection {
  line-height: 1.2;
}

.secondarySectionTittle {
  max-width: 48rem;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.btnWrap{
  display: flex;
  justify-content: center;
  position: absolute;
  inset: 0px;
}

.slideImg {
  width: 512px;
  height: 437px;
}

.learnMoreBtn {
  display: flex;
  align-self: center;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: $btn-color;
  color: $main-font-color;
}

.learnMoreBtn:hover {
  background-color: $hover-btn-color;
  transition-duration: .15s;
  cursor: pointer;
}

.creativeServices{
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.5rem 0.75rem;
  margin: 1.5rem;
  border-radius: 9999px;
  background-color: rgba($main-background-color, 0.5);
}

.creativeServices:hover{
  background-color: rgba($main-background-color, 1);
  transition-duration: .15s;
  cursor: pointer;
}

.creativeServicesLink {
  color: $main-font-color;
  font-size: 0.75rem;
}

.sliderControlSection{
  margin-top: 4rem;
}

.sliderControlWrap{
  display: flex;
  justify-content: space-between;
  max-width: $main-wight;
  margin: 0 auto;
}

.sliderBtnRight, .sliderBtnLeft  {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $second-background-color;
  width: 56px;
  height: 56px;
}

.sliderBtnRight:hover, .sliderBtnLeft:hover {
  background-color: $btn-color;
  opacity: 0.7;
  transition-duration: .25s;
  cursor: pointer;
}

.arrow {
  width: 16px;
  height: 16px;
}

@media screen and (max-width: $mobile-media) {
  .h2SecondarySection{
    font-size: $font-size-media;
  }
  .secondarySectionWrap {
    padding: 48px 0px;
  }
  .sliderControlSection{
    margin-top: 48px;
  }
  .secondarySectionTittle {
    padding-bottom: 48px;
  }
}

@media screen and (max-width: $media-512) {
  .slideImg {
    width: 100vw;
    height: auto;
  }
}
