@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/animation.scss";

.fiveSection {
  border-top: solid 1px;
  border-color: $second-background-color;
}

.fiveSectionWrap{
  @include wrapper;
  justify-content: center;
}

.headerFiveSection{
  max-width: 48rem;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.h2FiveSection{
  margin: 0 0 1rem 0;
  line-height: 1.18;
  letter-spacing: -0.02em;
}

.pFiveSection{
  margin: 0px;
}

.contentFiveSection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}

.headerPlans{
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: $secondary-font-family;
  color: $main-font-color;
}

.planContent{
  padding: 0;
}

.planLi{
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.premiumPlan{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $main-font-family;
  padding: 1.5rem;
  background-color: $second-background-color;
  color: $secondary-font-color;
  animation: rightRun 1s forwards;
  opacity: 0;
}

.premiumPlanWrap {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.planName{
  font-size: 1.25rem;
  color: $main-font-color;
  font-weight: 700;
}

.planDescription{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.currency{
  font-size: 1.63rem;
  font-weight: 700;
}

.planPrice {
  margin-bottom: 0.5rem;
}

.price{
  color: $main-font-color;
  font-size: 2.63rem;
  line-height: 1.24;
  font-weight: 900;
}

.planTerm{
  font-weight: 500;
}

.goPremiumBtn {
  margin-top: 6rem;
}

.goPremiumLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  color: $btn-color;
  background-color: rgb(63, 63, 69);
  border-radius: 0.25rem;

  text-decoration: none;
  font-weight: 500;
  line-height: 1.375;
}

.goPremiumLink:hover {
  background-color: rgb(82,82,90);
  transition-duration: .15s;
}

.goPremiumFirst:hover {
  background-color: $hover-btn-color;
  transition-duration: .15s;
}

.goPremiumFirst {
  background-color: $btn-color;
  color: $main-font-color;
}

.borderPlan {
  border: 2px solid;
  border-color: $btn-color;
}


.svgArrow{
  text-align: right;
  fill: rgb(82, 82, 90);
}

.checkMark {
  width: 12px;
  height: 12px;
  color: $hover-btn-color;
  fill: currentColor;
  margin-right: 8px;
}

.borderSale{
  line-height: 1.5;
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  font-size: 0.75rem;
  border-radius: 9999px;
  background-color: rgba(49, 151, 149,0.25);
  color: $hover-btn-color;
  align-self: center;
}

.firstBlock{
  animation-delay: 0.1s;
}

.secondBlock{
  animation-delay: 0.2s;
}

.thirdBlock{
  animation-delay: 0.3s;
}

html[dark-theme="false"] {
  .fiveSection {
    border: none;
    background-color: $main-background-color;
  }

  .h2FiveSection{
    color: $main-font-color;
  }

  .pFiveSection, .planLi{
    color: $secondary-font-color;
  }

  .premiumPlan {
    background-color: $main-background-color-light;
  }  

  .planName, .price {
    color: $main-font-color-light;
  }

  .premiumPlanWrap {
    color: rgb(110, 110, 118);
  }

  .borderSale{
    background-color: rgb(178,245,234);
    color: rgb(49,151,149);
  }

  .borderPlan{
    border: none;
  }

  .goPremiumLink {
    color: $main-font-color;
    background-color: rgb(159, 122, 234);
  }

  .goPremiumFirst {
    background-color: $btn-color;
    color: $main-font-color;
  }

  .goPremiumLink:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: $tablet-media) {
  .contentFiveSection{
    grid-template-columns: 1fr 1fr;
    max-width: 672px;
    margin: 0 auto;
  }
}

@media screen and (max-width: $mobile-media) {
  .h2FiveSection {
    font-size: $font-size-media;
  }

  .fiveSectionWrap{
    padding: 48px 24px;
  }
}

@media screen and (max-width: $media-640) {
  .contentFiveSection{
    grid-template-columns: 1fr;
    max-width: 320px;
  }

  .svgArrow{
    display: none;
  }
}

html[mobile-mode='true'] {
  .contentFiveSection{
    grid-template-columns: 1fr 1fr;
    max-width: 672px;
    margin: 0 auto;
  }

  .svgArrow{
    display: none;
  }
}
