.five-section {
  border-top: solid 1px;
  border-color: rgb(46 46 51);
}

.five-section-wrap{
  max-width: var(--main-wight);
  justify-content: center;
  margin: 0 auto;
  padding: 5rem 0;
}

.header-five-section{
  max-width: 48rem;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 3rem;
}


.h2-five-section{
  margin: 0 0 1rem 0;
  line-height: 1.18;
  letter-spacing: -0.02em;
}

.p-five-section{
  margin: 0px;
}

.content-five-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}

.header-plans{
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: var(--secondary-font-family);
  color: var(--main-font-color);
}

.plan-content{
  padding: 0;
}

.plan-li{
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.premium-plan{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--first-font-family);
  padding: 1.5rem;
  background-color: rgb(46, 46, 51);
  color: var(--secondary-font-color);
}

.premium-plan-wrap {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.plan-name{
  font-size: 1.25rem;
  color: var(--main-font-color);
  font-weight: 700;
}

.plan-description{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.currency{
  font-size: 1.63rem;
  font-weight: 700;
}

.plan-price {
  margin-bottom: 0.5rem;
}

.price{
  color: var(--main-font-color);
  font-size: 2.63rem;
  line-height: 1.24;
  font-weight: 900;
}

.plan-term{
  font-weight: 500;
}

.go-premium-btn {
  margin-top: 6rem;
}

.go-premium-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  background-color: var(--btn-color);
  border-radius: 0.25rem;
  color: var(--main-font-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.375;
}

.border-plan {
  border: 2px solid;
  border-color: var(--btn-color);
}

.svg-arrow{
  text-align: right;
  color: aqua;
  fill: rgb(82, 82, 90);
}