.four-section-wrap {
  max-width: 1104px;
  margin: 0 auto;
  border-top: solid 1px;
  border-color: rgb(46 46 51);
}

.four-section-blocks {
  padding: 5rem 0;
}

.four-section-header {
  max-width: 48rem;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.h2-four-section {
  margin: 0;
  padding-bottom: 1rem;
  line-height: 1.18;
  letter-spacing: -0.02em;
}

.p-four-section{
  margin: 0;
}

.numbers-block{
  display: flex;
  justify-content: space-between;
  max-width: 50rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgb(49 151 149/0.25);
  border-radius: 9999px;
  width: 3rem;
  height: 3rem;
  color: rgb(79 209 197);
  flex-shrink: 0;
}

.line {
  display: flex;
  border-top: dashed 1px;
  width: 288px;
  align-self: center;
  border-color: rgb(49 151 149/0.25);
  margin: 0 1rem;
}

.four-section-main{
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.mobile-img-four-section{
  position: relative;
  width: 100%;
  height: 100%;
}

.mobile-block {
  display: flex;
  background-size: 84.33%;
  background-position: center;
  background-repeat: no-repeat;
}

.mobile-img-first {
  background-image: url(../../public/img/mockup-image-02.jpg);
}

.mobile-img-second{
  background-image: url(../../public/img/mockup-image-03.jpg);
}

.mobile-img-third{
  background-image: url(../../public/img/mockup-image-04.jpg);
}