.header-wrapper{
  display: flex;
  justify-content: center;
  height: 80px;
}

.header-content {
  display: flex;
  width: 1104px;
  justify-content: space-between;
  color: var(--main-font-color);
}

.nav-ul {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 32px;
  height: 32px;
}

.li-nav {
  padding: 20px;  
  list-style-type: none;
}

.header-left-block, .header-right-block {
  display: flex;
  align-items: center;
}

.toggle-theme {
  margin-left: 12px;
}

.border-theme {
  display: flex;
  width: 44px;
  height: 24px;
  border-radius: 100px;
  background-color: var(--btn-color);
}

.toggler-theme {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 2px;

  border-radius: 1000px;
  background-color: var(--main-background-color);
}

.btn-request {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 137px;
  height: 40px;
  margin-left: 24px;
  border-radius: 0.25rem;
  background-color: var(--btn-color);
}

.header-drop-down {
  position: absolute;
  width: 160px;
  padding: 8px 0 8px 0;
  list-style-type: none;
  background-color: rgb(46, 46, 51);
  border-radius: 0.25rem;
}

.drop-down-help, .drop-down-404 {
  padding: 8px 16px 8px 16px;
}

