.secondary-section{
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: rgb(46, 46, 51);
  margin: 0 auto;
}

.secondary-section-wrap {
  padding: 5rem 0;
}

.swiper-section-wrap {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.h2-secondary-section{
  padding-bottom: 1rem;
  margin: 0;
}

.p-secondary-section{
  margin: 0;
}

.swipe {
  position: relative;
}

.h2-secondary-section {
  line-height: 1.2;
}

.secondary-section-tittle {
  max-width: 48rem;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.btn-wrap{
  display: flex;
  justify-content: center;
  position: absolute;
  inset: 0px;
}

.slide-img {
  width: 512px;
  height: 437px;
}

.learn-more-btn {
  display: flex;
  align-self: center;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: var(--btn-color);
  color: white;
}

.creative-services{
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.5rem 0.75rem;
  margin: 1.5rem;
  border-radius: 9999px;
  background-color: rgb(29, 29, 32, 0.5);
}

.creative-services-link {
  color: var(--main-font-color);
  font-size: 0.75rem;
}

.slider-control-section{
  margin-top: 4rem;
}

.slider-control-wrap{
  display: flex;
  justify-content: space-between;
  max-width: var(--main-wight);
  margin: 0 auto;
}

.slider-btn-right, .slider-btn-left  {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 46, 51);
  width: 56px;
  height: 56px;
}

.arrow {
  width: 16px;
  height: 16px;
}