.six-section-wrap{
  max-width: var(--main-wight);
  justify-content: center;
  margin: 0 auto;
  padding: 5rem 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgb(46, 46, 51);
}

.six-section-blocks {
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  gap: 3rem;
}

.reviews-block {
  text-align: center;
}

.face-img-reviews{
  width: 56px;
  height: 56px;
  border-radius: 9999px;
}

.face-svg-decoration{
  position: absolute;
  fill: rgb(159, 122, 234);
}

.imgs-reviews{
  margin-bottom: 1rem;
}

.blockquote-reviews{
  font-size: 1.25rem;
  margin: 0;
}

.description-reviews {
  margin-top: 0.5rem;
  font-family: var(--secondary-font-family);
}

.cite-reviews{
  font-style: normal;
  color: var(--main-font-color);
}

.link-reviews{
  text-decoration: none;
  color: var(--btn-color);
}