$main-wight: 1104px;

$main-font-color: rgb(244, 244, 245); 
$secondary-font-color: rgb(162, 162, 168);
$third-font-color: rgb(212, 212, 216);
$main-background-color: rgb(29, 29, 32);
$second-background-color: rgb(46, 46, 51);
$btn-color: rgb(58, 186, 180);
$btn-font-color: rgb(244, 244, 245);
$border-color: rgba(162, 162, 168, 0.2);
$hover-btn-color: rgb(79, 209, 197);

$main-background-color-light: rgb(255, 255, 255);
$third-background-color-light: rgb(245,245,245);
$main-font-color-light: rgb(29, 29, 32);
$secondary-font-color-light: rgb(82, 82, 90);
$third-font-color-light: rgb(212, 212, 216);
$second-background-color-light: rgb(46, 46, 51);
$border-color-light: rgba(212, 212, 216, 1);
$border-section-color-light: rgb(228,228, 231);

$main-font-family: "Inter", sans-serif;
$secondary-font-family: "Red Hat Display", sans-serif;

$font-size-h1: 88px;
$font-size-h2: 56px;
$font-size-p: 20px;
$font-size-main: 16px;
$font-size-media: 42px;

$main-letter-spacing: -0.01em;

$tablet-media: 1024px;
$mobile-media: 768px;
$media-640: 640px;
$media-512: 512px;