@import "/src/styles/variables";

.textAreaWrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.descriptionWrap{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.textArea{
  color: $main-font-color;
  background-color: $second-background-color;
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  border: solid 1px rgb(82, 82, 90);
  resize: vertical;
}

.textArea:focus {
  border: solid 1px rgb(122, 122, 122);
}

.textArea::placeholder{
  color: $secondary-font-color;
}

.span{
  font-size: $font-size-14px;
}

.label {
  font-weight: 500;
  font-size: $font-size-14px;
  color: $main-font-color;
}

html[dark-theme="false"] {
  .label{
    color: $second-background-color-light;
  }

  textArea::placeholder {
    color: $secondary-font-color-light;
  }
  
  .textArea {
    background-color: $main-background-color-light;
    color: $secondary-font-color-light;
    border-color: $third-font-color-light;
  }
  
  .textArea:focus {
    border-color: $secondary-font-color-light;
  }
}
