@import "/src/styles/variables";
@import "/src/styles/mixins.scss";

.sixSectionWrap{
  @include wrapper;
  @include sectionBorderBottom;
  @include sectionBorderTop;
  justify-content: center;
}

.sixSectionBlocks {
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  gap: 3rem;
}

.reviewsBlock {
  text-align: center;
}

.faceImgReviews{
  width: 56px;
  height: 56px;
  border-radius: 9999px;
}

.faceDecoration{
  position: absolute;
  fill: rgb(159, 122, 234);
}

.imgsReviews{
  margin-bottom: 1rem;
}

.blockquoteReviews{
  font-size: 1.25rem;
  margin: 0;
}

.descriptionReviews {
  margin-top: 0.5rem;
  font-family: $secondary-font-family;
}

.citeReviews{
  font-style: normal;
  color: $main-font-color;
}

.linkReviews{
  text-decoration: none;
  color: $btn-color;
}

html[dark-theme="false"] {
  .sixSectionWrap{
    border: none;
    border-bottom: 1px solid $border-section-color-light;
  }

  .citeReviews{
    color: $main-font-color-light;
  }
}

@media screen and (max-width: $tablet-media) {
  .sixSectionBlocks {
    column-gap: 32px;
  }
  .sixSectionWrap{
    max-width: 672px;
  }
}

@media screen and (max-width: $mobile-media) {
  .sixSectionWrap{
    padding: 48px 24px;
  }
}

@media screen and (max-width: $media-640) {
  .sixSectionBlocks {
    grid-template-columns: 1fr;
    max-width: 384px;
    margin: 0 auto;
  }
}


html[mobile-mode='true'] {
  .sixSectionWrap{
    padding: 48px 24px;
  }
}

