@import "/src/styles/variables";
@import "/src/styles/mixins";

.inputWrap{
  display: grid;
  width: 100%;
  margin-bottom: 20px;
}

.labelName{
  font-weight: 500;
  color: $main-font-color;
  margin-bottom: 4px;
  font-size: $font-size-14px;
}

.spanStar{  
  color: rgb(255, 0, 0);
}

.inputName {
  @include customInput;
}
  
.inputName:focus {
  border: solid 1px rgb(122, 122, 122);
}
  
input.inputName::placeholder {
  color: $secondary-font-color;
}


html[dark-theme="false"] {
  .labelName{
    color: $second-background-color-light;
  }

  .inputName::placeholder {
    color: $secondary-font-color-light;
  }
  
  .inputName {
    background-color: $main-background-color-light;
    color: $secondary-font-color-light;
    border-color: $third-font-color-light;
  }
  
  .inputName:focus {
    border-color: $secondary-font-color-light;
  }
}