@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/animation.scss";

.firstSectionFooterWrap{
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.divWrap{
  display: flex;
  width: $main-wight;
  gap: 24px
}

.blocks{
  width: 100%;
  text-align: center;
  padding: 32px 4px 32px 4px;
  background-color: $second-background-color;
  animation: down 1s forwards;
  opacity: 0;
}

.numbers {
  font-family: $secondary-font-family;
  font-size: 2.63rem;
  font-weight: 900;
  color: $main-font-color;
}

.firstBlock{
  animation-delay: 0.1s;
}

.secondBlock{
  animation-delay: 0.2s;
}

.thirdBlock{
  animation-delay: 0.3s;
}

.fourBlock{
  animation-delay: 0.4s;
}

@media screen and (max-width: 1024px) {
  .divWrap{
    gap: 16px;
  }
}

@media screen and (max-width: 768px) {
  .divWrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .blocks{
    padding: 32px 0px 32px 0px;
  }
  .firstSectionFooterWrap{
    padding-bottom: 40px;
  }
}