@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.headerWrapper{
  @include wrapper;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  height: 80px;
}

.headerContent {
  display: flex;
  width: $main-wight;
  justify-content: space-between;
  color: $main-font-color;
}

.navUl {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  color: $third-font-color;
  font-weight: 500;
}

.logo {
  width: 32px;
  height: 32px;
  background-image: url(../../../../public/img/logo.svg);
  cursor: pointer;
}

.liNav {
  padding: 20px;  
  list-style-type: none;
  transition-duration: .15s;
}

.liNav:hover {
  color: $btn-font-color;
  cursor: pointer;
}

.liDrop:hover .headerDropDown {
  opacity: 1;
  transition-duration: 0.15s;
  pointer-events: all;
  margin-top: 10px;
}


.headerLeftBlock, .headerRightBlock {
  display: flex;
  align-items: center;
}

.toggleTheme {
  margin-left: 12px;
}

.borderTheme {
  display: flex;
  width: 44px;
  height: 24px;
  border-radius: 100px;
  background-color: $btn-color;
}

.togglerTheme {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 2px;
  left: 20px;
  border-radius: 1000px;
  background-color: rgb(53,53,59);
  transition-duration: .15s;
  cursor: pointer;
}

.svgTogglerTheme{
  position: absolute;
  background-image: url(../../../../public/img/svg-toggler-theme.svg);
  width: 44px;
  height: 24px;
  cursor: pointer;
}

.btnRequest {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 137px;
  height: 40px;
  margin-left: 24px;
  border-radius: 0.25rem;
  background-color: $btn-color;
  font-weight: 500;
  cursor: pointer;
}

.btnRequest:hover {
  background-color: $hover-btn-color;
  transition-duration: .15s;
}

.headerDropDown {
  position: absolute;
  list-style-type: none;
  background-color: $second-background-color;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  color: $secondary-font-color;
  padding: 8px 0px;
  width: 160px;
  margin-top: 0px;
  opacity: 0;
  pointer-events: none;
}

.dropDownArrow{
  width: 12px;
  height: 12px;
  margin-left: 4px;
}

.dropDownHelp, .dropDown404 {
  padding: 8px 16px 8px 16px;
}

.dropDownHelp:hover, .dropDown404:hover {
  color: rgb(65,213,201);
}

.burgerBtn{
  display: none;
}

html[dark-theme="false"] {
  .navUl {
    color: $secondary-font-color-light;
  }

  .headerDropDown {
    background-color: $main-background-color-light;
    color: $main-font-color-light;
    box-shadow: 0px 5px 8px -7px;
  }

  .liNav:hover {
    color: $main-font-color-light;
  }

  .burgerSpan, .burgerBtn:before,
  .burgerBtn:after {
    background-color: $main-font-color-light;
  }
}


html[dark-theme="true"] {
  .burgerSpan, .burgerBtn:before,
  .burgerBtn:after {
    background-color: $main-font-color;
  }
}

@media screen and (max-width: $mobile-media) {
  .btnRequest {
    display: none;
  }
  .headerNav{
    display: none;
  }
  .burgerBtn{
    position: relative;
    display: block;
    width: 24px;
    height: 20px;
    margin-left: 24px;
    transition: all .15s;
  }

  .burgerSpan, .burgerBtn:before,
  .burgerBtn:after {
    content: "";
    background-color: $third-font-color;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all .15s;
  }
  .burgerBtn:before {
    top: 0;
  }
  .burgerBtn::after {
    bottom: 0;
  }
  .burgerSpan{
    background-color: $third-font-color;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all .15s;
  }
  
  .burgerBtnActive:before{
    transform: rotate(45deg);
    top: 9px;
  }
  .burgerBtnActive:after{
    bottom: 9px;
    transform: rotate(-45deg);
  }
  .burgerBtnActive .burgerSpan{
    transform: scale(0);
  }
}

html[mobile-mode='true'] {
  .btnRequest {
    display: none;
  }
  .headerNav{
    display: none;
  }
  .burgerBtn{
    position: relative;
    display: block;
    width: 24px;
    height: 20px;
    margin-left: 24px;
    transition: all .15s;
  }
  
  .burgerBtn:before,
  .burgerBtn:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all .15s;
  }
  .burgerBtn:before {
    top: 0;
  }
  .burgerBtn::after {
    bottom: 0;
  }
  .burgerSpan{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all .15s;
  }
  
  .burgerBtnActive:before{
    transform: rotate(45deg);
    top: 9px;
  }
  .burgerBtnActive:after{
    bottom: 9px;
    transform: rotate(-45deg);
  }
  .burgerBtnActive .burgerSpan{
    transform: scale(0);
  }
}