@import "../../../styles/global.scss";

.seven-section-wrap {
  max-width: $main-wight;
  justify-content: center;
  margin: 0 auto;
  padding: 5rem 0;
}

.phone-number-window{
  position: relative;
}

.background-img{
  height: 100%;
}

.background-div{
  position: absolute;
  inset: 0px;
  left: auto;
}

.seven-section-header {
  max-width: 48rem;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.h2-seven-section{
  margin: 0;
  line-height: 1.18;
  letter-spacing: -0.02em;
}

.seven-section-main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  margin-bottom: 5rem;
}

.color-block-svg-top{
  width: 2rem;
  height: 2rem;
}

.color-block-svg-down{
  width: 1.5rem;
  height: 1.5rem;
}

.color-block {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  color: rgb(255, 255, 255);
  fill: currentColor;
}

.color-block-name {
  font-family: $secondary-font-family;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 900;
  letter-spacing: -0.02em;
  margin: 0.75rem 0 0.25rem 0;
}

.color-block-description {
  opacity: 0.8;
  margin-bottom: 1rem;
}

.color-block-green {
  background-color: rgb(58,186,180);
}

.color-block-purple {
  background-color: rgb(159,122,234);
}

.color-block-blue {
  background-color: rgb(102,126,234);
}

.color-block-pink {
  background-color: rgb(237,100,166);
}

.color-block-svg-down{
  align-self: flex-end;
}

.form-wrap{
  display: flex;
  justify-content: space-between;
  padding: 4rem 3rem;
  background-color: rgb(46,46,51);
  max-width: 100%;
}

.h3-phone-number{
  color: $main-font-color;
  font-family: $secondary-font-family;
  font-size: 2.63rem;
  line-height: 1.24;
  font-weight: 900;
  margin: 0;
}

.header-form{
  width: 50%;
  margin-right: 4rem;
}

.input-block-footer{
  width: 50%;
  max-width: none;
}