@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/animation.scss";

.fixSection{
  position: relative;
  height: 64px;
}

.fixWrap{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color: rgb(15,23,42);
  z-index: 30;
  padding: auto;
}

.logoBlock{
  padding-left: 24px;
  width: 100%;
}

.linkCruip{
  display: flex;
  cursor: auto;
}

.logoSvg{
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.toggler{
  width: 32px;
  height: 32px;
}

.close{
  width: 16px;
  height: 16px; 
}

.arrowDropDown{
  width: 11px;
  height: 11px;
}

.centerBlock{
  display: flex;
  cursor: pointer;
}

.tabletBtn, .computerBtn{
  margin: 0px 8px;
  display: flex;
  fill: rgb(226, 232, 240);
}

.tabletBtn {
  fill: rgb(100,116,139);
}

.tabletBtn:hover, .computerBtn:hover{
  fill: rgb(149,162,181);
}

.rightBlock{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding-right: 24px;
}

.pagesBtn{
  margin-right: 12px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(226, 232, 240);
}

.pagesBtnWrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 112px;
  border: 2px solid;
  border-color: rgb(51, 65, 85);
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
}

.dropDown{
  visibility: hidden;
  position: absolute;
  cursor: pointer;
}

.pagesBtn:hover  .dropDown {
  visibility: visible;
}

.dropDownUl{
  padding: 4px 12px;
  margin-top: 4px;
  background-color: $main-font-color;
}

.dropDownLi{
  width: 104px;
  padding: 6px;
  color: rgb(71, 85, 105);
  border-bottom: 1px solid;
  border-color: rgb(229,231,235);
  list-style-type: none;
}

.dropDownLi:hover{
  color: rgb(99,102,241);
}

.buyNow{
  border: none;
  border-radius: 6px;
  height: 36px;
  padding: 0px 12px;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(99,102,241);
  color: rgb(226, 232, 240);
  transition-duration: .15s;
  cursor: pointer;
}

.buyNow:hover {
  background-color: rgb(80,70,229);
}

.closeBtn{
  display: flex;
  margin-left: 24px;
  fill: rgb(100, 116, 139);
  cursor: pointer;
}

.closeBtn:hover{
  fill: rgb(149,162,181);
}

.linearDownload {
  position: fixed;
  width: 100%;
  margin-top: 64px;
  border-bottom: 3px solid;
  border-color: rgb(80,70,229);
  z-index: 31;
  animation: run .15s 1 linear;
  opacity: 0;
}

@media screen and (max-width: $mobile-media){
  .pagesBtnWrap{
    display: none;
  }
  .centerBlock {
    display: none;
  }
}