@import "/src/styles/variables";
@import "/src/styles/mixins.scss";
@import "/src/styles/animation.scss";

.main{
  @include wrapper;
  @include sectionBorderBottom;
}

.textWrap{
  display: flex;
  flex-direction: column;
  max-width: 768px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 64px;
}

.h1 { 
  text-align: center;
  font-size: 64px;
  margin: 0px;
  margin-bottom: 16px;
  letter-spacing: -0.02em;
  line-height: 1.16;
}

.p {
  margin: 0px;
  text-align: center;
}


@media screen and (max-width: $mobile-media) {
  .h1 { 
    font-size: $font-size-56px;
  }
  .main {
    padding: 48px 24px;
  }
  .textWrap {
    margin-bottom: 48px;
  }
}


html[dark-theme="false"] {
  .main {
    border-color: $border-section-color-light;
  }
}


