@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.popup {
  position: fixed;
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  margin-top: -144px;
  text-align: center;
}

.popupWrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 200px;

  background-color: rgba($second-background-color, 0.95);
  border-radius: 10px;
  color: $main-font-color-light;
  box-shadow: 5px 5px 15px -2px;
}

.exit{
  display: flex;
  right: 10px;
  top: 10px;
  position: absolute;
  fill: $main-font-color;
  cursor: pointer;
}

.text{
  color: $main-font-color;
}

.btnOk {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 137px;
  height: 40px;
  border-radius: 0.25rem;
  background-color: $btn-color;
  font-weight: 500;
  color: $main-font-color;
  cursor: pointer;
}

.btnOk:hover{
  background-color: $hover-btn-color;
  transition-duration: .15s;
}

html[mobile-mode='true'] {
  .popup{
    max-width: $mobile-media;
  }
}