@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";


.requestLink{
  display: block;
  color: $btn-font-color;
}

.requestLink:active, 
.requestLink:hover, 
a{
  color: $btn-font-color;
}

.btnRequest {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 137px;
  height: 40px;
  margin-left: 24px;
  border-radius: 0.25rem;
  background-color: $btn-color;
  font-weight: 500;
  cursor: pointer;
}

.btnRequest:hover {
  background-color: $hover-btn-color;
  transition-duration: .15s;
}

.sentCodeBtn {
  cursor: auto;
  background-color: $secondary-font-color !important;
}

.sentCodeBtn:hover {
  background-color: $secondary-font-color !important;
}

@media screen and (max-width: $mobile-media) {
  .btnRequest {
    display: none;
  }
}

html[mobile-mode='true'] {
  .btnRequest {
    display: none;
  }
}