@import "/src/styles/variables";

.wrap{
  display: flex;
  justify-content: center;
  height: 100px;
}

.loader {
  position: absolute;
  width: 100px;
  height: 100px;
}

.loader:before , .loader:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 4px 0 $btn-color;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}